<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Firstuwp' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>1a1e92f5-ff69-47a0-b864-1f4ebeaa46be</InstrumentationKey>
</ApplicationInsights>